{% include "header.html" %}

  <section class="about-me">
    <div class="row abt-row">
      <div class="col-lg-6 about-info">
        <br class="drop"><br class="drop">
        <h1 class="about-name">Aum Battul</h1>
        <img class="wave" src="static/images/wave.gif" alt="">
        <br>
        <p>I'm a third year computer engineering student at Trinity College of
          Engineering and Research. I love creating beautiful and minimalisitic
          UI/UX. When I am not working, I spend my time in fulfilling and
          relaxing pursuits such as cooking, gardening, reading, sketching,
          playing guitar and craft-making. I enjoy connecting with people and
          I am open to interesting work offers from clients in India and
          abroad, so send me a quick email and we can take it from there. </p>
        <h4>Contact me</h4>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link abt-first" href="https://www.linkedin.com/in/aum-battul-4b42801bb/"><i class="fa-brands fa-linkedin-in"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://wa.me/919322147559"><i class="fa-brands fa-whatsapp"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/be.aum/"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <img src="static/images/about-img.png" class="about-img" alt="">
      </div>
    </div>
  </section>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


</html>
