  <section class="footer">
    <ul class="nav justify-content-center second-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">The Folio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <ul class="nav justify-content-center footer-socials">
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/aum-battul-4b42801bb/"><i class="fa-brands fa-linkedin-in"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://wa.me/919322147559"><i class="fa-brands fa-whatsapp"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/be.aum/"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa-brands fa-twitter"></i></a>
      </li>
    </ul>
    <ul class="nav justify-content-center footer-info-end">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">© The Folio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">Built by Aum Battul</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Made with ❤️ in India</a>
      </li>
    </ul>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>