{% include "header.html" %}

  <section class="resume-section">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 left-resume">
        <div class="card resume-card">
          <img src="static/images/my-img.jpeg" alt="">
          <br>
          <h4>PERSONAL DETAILS</h4>
          <table class="table resume-info">
            <tr>
              <td>Name:</td>
              <td>Aum Battul</td>
            </tr>
            <tr>
              <td>Father's Name:</td>
              <td>Ravi Battul</td>
            </tr>
            <tr>
              <td>Mother's Name:</td>
              <td>Laxmi Battul</td>
            </tr>
            <tr>
              <td>Date of birth:</td>
              <td>15/04/2002</td>
            </tr>
            <tr>
              <td>Nationality:</td>
              <td>Indian</td>
            </tr>
            <tr>
              <td>Martial Status:</td>
              <td>Unmarried</td>
            </tr>
            <tr>
              <td>Gender:</td>
              <td>Male</td>
            </tr>
            <tr>
              <td>Blood Group:</td>
              <td>O+</td>
            </tr>
            <tr>
              <td>Height:</td>
              <td>6ft 1'</td>
            </tr>
          </table>
          <br>
          <h4>MAILING ADDRESS</h4>
          <br>
          <h6>Permanent Address:</h6>
          <p>Sr.no.49/1, Lane no. - 14, Ganesh Nagar, Opp. Kran Radar Comopany,
            Wadgaon Sheri, Pune-14, Maharashtra</p>
          <h6>Present Address</h6>
          <p>Sr.no.49/1, Lane no. - 14, Ganesh Nagar, Opp. Kran Radar Comopany,
            Wadgaon Sheri, Pune-14, Maharashtra</p>
          <br>
          <h4>CONTACT</h4>
          <br>
          <div class="row">
            <div class="col-1 ">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="col-8">
              9322147559
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-1">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="col-8">
              aumbattul99@gmail.com
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 right-resume">
        <div class="card resume-card">
          <h3 class="d-flex justify-content-center">Curriculum Vitae</h3>
          <br>
          <h1 class="d-flex justify-content-center">Aum Ravi Battul</h1>
          <h4 class="d-flex justify-content-center">Design Lead @GDSC TCOER</h4>
          <br><br>
          <h4>CAREER OBJECTIVE</h4>
          <p>Willing to take bigger responsibilities of collaborating with
            different application teams and developers, Motivated ungraduate in
            Computer Science seeking to begin a career in
            design field. </p>
          <br>
          <h4>EDCUATIONAL BACKGROUND</h4>
          <br>
          <h6>H.S.C. (Higher Secondary Certificate)</h6>
          <br>
          <table class="table">
            <tr>
              <td>Institution:</td>
              <td>AISSM's Jr. College, Pune</td>
            </tr>
            <tr>
              <td>Group:</td>
              <td>Science</td>
            </tr>
            <tr>
              <td>Passing Year:</td>
              <td>2020</td>
            </tr>
            <tr>
              <td>Result:</td>
              <td>61%</td>
            </tr>
            <tr>
              <td>Board:</td>
              <td>Maharashtra State Board</td>
            </tr>
          </table>
          <br>
          <h6>S.S.C. (Secondary School Certificate)</h6>
          <br>
          <table class="table">
            <tr>
              <td>Institution:</td>
              <td>Vidyankur School, Pune</td>
            </tr>
            <tr>
              <td>Group:</td>
              <td>Science</td>
            </tr>
            <tr>
              <td>Passing Year:</td>
              <td>2018</td>
            </tr>
            <tr>
              <td>Result:</td>
              <td>84.4%</td>
            </tr>
            <tr>
              <td>Board:</td>
              <td>Maharashtra State Board</td>
            </tr>
          </table>
          <br>
          <h4>COMPUTER SKILL</h4>
          <br>
          <h6>Python Fullstack Developer</h6>
          <h6>Flutter Developer</h6>
          <h6>Google Cloud Fundamentals</h6>
          <h6>Data Analysis</h6>
          <h6>UI/UX Developer</h6>
          <br>
          <h4>LANGUAGES KNOWN</h4>
          <table class="table">
            <tr>
              <td>ENGLISH</td>
              <td>FULL PROFICIENCY</td>
            </tr>
            <tr>
              <td>HINDI</td>
              <td>FULL PROFICIENCY</td>
            </tr>
            <tr>
              <td>MARATHI</td>
              <td>FULL PROFICIENCY</td>
            </tr>
            <tr>
              <td>TELUGU</td>
              <td>MEDIUM PROFICIENCY</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </section>

{% include "footer.html" %}
